header div.wrap.gnb-menu {
  a: c;
}
header div.wrap.gnb-menu ul.contain {
  a: c;
}
header div.wrap.gnb-menu ul.contain li {
  a: c;
}
header div.wrap.gnb-menu ul.contain li a {
  a: c;
}
header div.wrap.gnb-menu ul.contain li ul.depth {
  a: c;
}
header div.wrap.gnb-menu ul.contain li ul.depth li {
  a: c;
}
header div.wrap.gnb-menu ul.contain li ul.depth li a {
  a: c;
}