body{
  font-family: 'Noto Sans KR', "Poppins", sans-serif;
  
}
/* 헤더 */
header {

  position: sticky;
  top: 0;
  left: 0;
  z-index: 30;
  height: 80px;
}
header div.wrap {

  max-width: initial;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #ffF;
  height: 100%;
}
header div.wrap h1 {
  height: 100%;
}
header div.wrap h1 a{
  font-size: 0;
  background-image: url(../img/logo.png);
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  margin-left: 80px;
  height: 100%;
  display: block;
}
header div.wrap ul.gnb {

  display: flex;
  width: 50%;
  height: 100%;
  justify-content: center;
  align-items: center;
  gap: 64px;
}
header div.wrap ul.gnb li {

}
header div.wrap ul.gnb li a {

  color: #111;
  font-weight: 600;
  font-size: 19px;
  letter-spacing: -0.5px;

}
header div.wrap aside {

  height: 100%;
}
header div.wrap aside ul.gnb2 {

  display: flex;
  gap: 31px;
  height: 100%;
  align-items: center;
}
header div.wrap aside ul.gnb2 li {

  height: 100%;
  display: flex;
  align-items: center;
}
header div.wrap aside ul.gnb2 li:nth-child(2){

  background-color: #00b1b0;
  padding-left: 24px;
}
header div.wrap aside ul.gnb2 li a {

}
header div.wrap aside ul.gnb2 li:nth-child(1) a{
  color:#848484
}
header div.wrap aside ul.gnb2 li:nth-child(2) a {

  color: #fff;
  font-size: 20px;
  margin-right: 30px;
  font-weight: 700;
  height: 100%;
  display: flex;
  align-items: center;
  letter-spacing: -0.5px;
}
header div.wrap aside ul.gnb2 li:nth-child(2) a::after {
  content:'';
  width:23px;
  height: 22px;
  display: inline-block;
  background-image: url(../img/arrowmore.svg);

  filter: grayscale(1) brightness(10);  
  background-repeat: no-repeat;
  margin-left: 20px;
  background-size: contain;
  background-position: center;
  vertical-align: text-top;
}
/*(0은 원래 색상)완전한 회색으로 만든 다음, 100(원래밝기)-10000 중에서 가장 높은 걸 골라서 밝게 만듦 즉, 흰색이 됨*/
/*   인덱스-------------------------------------- */
div#index{
overflow: hidden;
}
/* index_ 타이틀 */
div#index #title {

  height: 720px;
  position: relative;
  margin-bottom: 150px;
}
div#index #title::after{
  content:'';
  display: block;
  left:8%;
  bottom: 0;
  background-color: #00b1b0;
  transform: rotate(-3deg);
  z-index: -1;
  height: 70%;
  position: absolute;
  transform-origin: 100% 100%;
  width: 70%;
 
}
div#index #title div.titleani {


  height: 100%;
  position: absolute; 
  left: 80px;
  width: 100%;
 
}
div#index #title div.titleani div{


  height: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

}
div#index #title div.titleani div.title1{
  background-image: url(../img/title1.png);
}
div#index #title div.titleani div.title2{
  background-image: url(../img/title2.jpg);
}
div#index #title div.titleani div.title3{
  background-image: url(../img/title3.png);
}
div#index #title div.titleani div article {

  display: flex;
  flex-direction: column;
  gap: 18px;
  justify-content: center;

}
.titleS{
  animation-name: titleS;
  animation-duration:1s; 
  animation-iteration-count: 1;
  animation-timing-function: ease-in-out;
}
@keyframes titleS {
  0%{
    opacity: 0;
    transform: translateY(150px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
div#index #title div.titleani div article.title1{

  height: 80%;
}
div#index #title div.titleani div article.title2{

  height: 96%;
}
div#index #title div.titleani div article.title3{
  height: 95%;
}
div#index #title div.titleani div article h2 {
  color:#fff;
  font-size: 22px;
  font-weight: 700;
}
div#index #title div.titleani div article p {
  color:#fff;
  line-height: 1.2;
  text-transform: uppercase;
  font-size: 60px;
  font-weight: 700;
}
div#index #title div.titleani div article a {

  font-weight: 700;
  color: #fff;
  padding: 20px 50px;
  width: fit-content;
  background-color: #00b1b0;
  margin-top: 45px;
}
/*  타이틀 슬릭 버튼 스타일링  */
div#index #title div.titleani>ul.slick-dots{

  bottom: 80px;
  right: 50px;
}
div#index #title div.titleani > ul.slick-dots li{

  width: 440px;
}
div#index #title div.titleani > ul.slick-dots li:nth-child(1)::before{
  content:'';
}
div#index #title div.titleani > ul.slick-dots li button{

}
div#index #title div.titleani > ul.slick-dots li button::before{

  content: '';
  width: 450px;
  border-top: 3px solid #FFF;
  transition: 0.5s;
}
div#index #title div.titleani > ul.slick-dots li button:hover::before{
  opacity: 0.6;
}
div#index #title div.titleani > ul.slick-dots li.slick-active button::before{

  opacity: 1;
}

/* index_캠페인 */
#campaign {
 
  margin-bottom: 236px;
  position: relative;
}
#campaign::after{
  content: "Campaign";
  font-weight: 600;
  color: #111;
  opacity: .05;
  font-size: 21rem;
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  font-family: "Poppins";
}
#campaign div.wrap {
 
  max-width: 1200px;
  padding: 0 20px 0 20px;
}
#campaign div.wrap div.represent {
 
}
#campaign div.wrap div.represent p.exist {
 
}
#campaign div.wrap div.represent h2 {
 
}
#campaign div.wrap div.represent p.none {
 
}
#campaign div.wrap div.side {
 
  display: grid;
}
#campaign div.wrap div.side div.cam_division {
 
  display: flex;
  margin-top: 43px;
  gap: 211px;
  justify-content: center;
}
#campaign div.wrap div.side div.cam_division div.cam_division.camani div.cam_division_1 {
 position: relative;
}
#campaign div.wrap div.side div.cam_division div.cam_division.camani div.cam_division_1::after{
  content:'';
  display: block;
  left:10%;
  bottom: 0;
  background-color: #00b1b0;
  transform: rotate(-7deg);
  z-index: -1;
  height: 48%;
  position: absolute;
  transform-origin: 100% 100%;
  width: 65%;
}
#campaign div.wrap div.side div.cam_division div.cam_division.camani div.cam_division_1 img {
 width: 480px;
  height: 560px;
}
#campaign div.wrap div.side div.cam_division div.cam_division.camani div.cam_division_2 {
 
}
#campaign div.wrap div.side div.cam_division div.cam_division.camani div.cam_division_2  {
 
}
#campaign div.wrap div.side div.cam_division div.cam_division.camani div.cam_division_2 img {
 
  width: 300px;
  height: 270px;
  position: relative;
  top: -110px;
  right: 56px;
}
#campaign div.wrap div.side div.cam_explain {
 
  justify-self: end;
  width: 511px;
  height: 160px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  align-items: baseline;
  transform: translateY(-263px);
}
#campaign div.wrap div.side div.cam_explain h3 {

  font-size: 29px;
  line-height: 1.5;
  font-weight: 700;
  letter-spacing: -1.2px;
}
#campaign div.wrap div.side div.cam_explain p {
 font-size: 18px;
  letter-spacing: -1.2px;
  line-height: 1.5;
}

#campaign div.wrap div.side div.cam_explain a {
margin-top: 30px;
  letter-spacing: -1.2px;
  font-weight: 800;
  font-size: 18px
}
#campaign div.wrap div.side div.cam_explain a::after{
  content:'';
  display: inline-block;
  width: 25px;
  height: 25px;
  background-image: url(../img/arrowwh.svg);
  background-color: #00b1b0;
  background-repeat: no-repeat;
  background-position: center;
  background-size: auto;
  vertical-align: middle;
  border-radius: 50%;
  margin-left: 13px;
  transition:0.2s;
}
#campaign div.wrap div.side div.cam_explain a:hover::after{
   background-color: #19388a;
}
/* index_모금제안 */
/* index_모금제안_통계 */
div#index #suggestion {
position: relative;
}
div#index #suggestion::before{
  background-color: #f7f7f7;
  width: 100vw;
z-index: -1;
position: absolute;
box-sizing: border-box;
  content:'';
  display: block;
  height: 76.6%;
  top: 28%;
}
div#index #suggestion>div.wrap {
/*! display: flex; */

}
div#index #suggestion div.wrap div.suggestion_statistics {
margin-bottom: 215px;
display: grid;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr 1fr 1fr auto;
width: 100%;
height: 750px;
position: relative;
column-gap: 130px;
}
div#index #suggestion div.wrap div.suggestion_statistics::before{
  content:'';
  display:block;
  background-image: url(../img/donate.jpg);
  width: 68%;
  height: 82%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  
  position: absolute;
  z-index: -1;
  left: -232px;
}
div#index #suggestion div.wrap div.suggestion_statistics>p {
grid-column: 4;
justify-self: end;
background-image: url(../img/donate_label.svg);
background-repeat: no-repeat;
background-position: center;
background-size: contain;
width: 100px;
height: 120px;
line-height: 1.5;
font-family: Poppins;
color: #fff;
font-weight: 600;
text-align: right;
display: flex;
flex-direction: column;
justify-content: center;
padding-right: 36px;
margin-right: -18px;
letter-spacing: 0.5px;
font-size: 18px;
}
div#index #suggestion div.wrap div.suggestion_statistics div.represent {
grid-column: 3 /span 2;
grid-row: 2;
justify-self: center;
transform: translateY(-59px);
}
div#index #suggestion div.wrap div.suggestion_statistics div.represent p.exist {

}
div#index #suggestion div.wrap div.suggestion_statistics div.represent h2 {

}
div#index #suggestion div.wrap div.suggestion_statistics div.represent p.none {

}
div#index #suggestion div.wrap div.suggestion_statistics div.list {
  grid-column: 1 /span 4;
  justify-self: center;
  align-self: center;
  width: 1440px;
  height: 200px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 0.2fr 1.5fr 1.5fr 0.2fr;
  grid-template-rows: 1fr 1.5fr 1fr;
  position: relative;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list::after{
  content: '';
  display: block;
  left: 8%;
  bottom: 0;
  background-color: #00b1b0;
  transform: rotate(-3deg);
  z-index: -1;
  height: 70%;
  position: absolute;
  transform-origin: 100% 100%;
  width: 70%;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul{
  padding: 5px 50px;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.money {
  grid-column: 2;
  grid-row: 2;
  border-right: 1px solid #e5e5e5;
  position: relative;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.money::after {
 content:'';
 background-image:url(../img/donate-icon1.svg);
 display:inline-block;
 width: 100px;
 height: 100px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
 position: absolute;
 right: 8%;
 bottom: 0;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.count::after {
 content:'';
 background-image:url(../img/donate-icon2.svg);
 display:inline-block;
 width: 100px;
 height: 100px;
 background-repeat: no-repeat;
 background-position: center;
 background-size: contain;
 position: absolute;
 right: 8%;
 bottom: 0;
}

div#index #suggestion div.wrap div.suggestion_statistics div.list span{
  font-size: 18px;
  font-weight: 600;
  font-family: 'Noto Sans KR';
  letter-spacing: initial;
  margin-bottom: initial;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.money li {

}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.money li.mo1{
  
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.money li.mo2{
  
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.count {
  grid-column: 3;
  grid-row: 2;
  position: relative;
}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.count li {

}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.count li.mo1 {

}
div#index #suggestion div.wrap div.suggestion_statistics div.list ul.count li.mo2 {

}
/* index_모금제안_변화 */
div#index #suggestion div.wrap div.suggestion_changes {
display: flex;
margin-bottom: 172px;
gap: 147px;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post {
display: flex;
gap: 50px;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li {
display: flex;
  gap: 26px;
  flex-direction: column;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li h4 {
font-size: 20px;
  font-weight: 600;
  letter-spacing: -1px;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li h4 a {

}
div#index #suggestion div.wrap div.suggestion_changes ul.post li a {

}
div#index #suggestion div.wrap div.suggestion_changes ul.post li a.image{
  position: relative;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li a.image::after{
  content: '';
  display: block;
  left: 8%;
  bottom: 0%;
  background-color: #00b1b0;
  z-index: -1;
  height: 70%;
  position: absolute;
  transform-origin: 100% 100%;
  width: 70%;
  transition: 0.2s;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li a.image:hover::after{
  transform: rotate(-6deg);
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li a img {
width: 100%;
  height: 250px;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li p {
margin-top: 29px;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li p a {
font-size: 22px;
  letter-spacing: -1px;
  font-weight: 600;
position: relative;
width: 56%;
display: block;
border-radius: 30%;
height: 100%;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li p a:hover{
  color:#1a4191;
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li p a:hover::after{
  transform: translateX(-20px);
  background-image: url(../img/arrowblueright.svg);
}
div#index #suggestion div.wrap div.suggestion_changes ul.post li p a::after{
  content:'';
  background-image: url(../img/arrowmintright.svg);
  width: 58px;
  height: 35px;
  display: inline-block;
  top: 17%;
  left: 73%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition:0.5s;

}
div#index #suggestion div.wrap div.suggestion_changes div.represent {

}
div#index #suggestion div.wrap div.suggestion_changes div.represent p.exist {

}
div#index #suggestion div.wrap div.suggestion_changes div.represent h2 {

}
/* index_모금제안_후원자*/
div.suggestion_volunteers {
margin-top: 80px;
}
div.suggestion_volunteers div.wrap {
display: flex;
margin-top: 121px;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 {
width: 60%;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 h2 {
font-size:60px;
font-weight: 800;
line-height: 1.5;
color: #111;
letter-spacing: -1.8px;
margin-bottom: 73px;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul {
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr; 
max-width: 691px;
gap: 70px;
position: relative;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul::before{
  content:'';
  height: 97%;
  position: absolute;
  top: 1%;
  left: 45%;
  border: 0.1px solid #e5e5e5;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul::after{
  content:'';
  width: 98%;
  position: absolute;
  top: 48%;
  left: -1%;
  border: 0.1px solid #e5e5e5;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul li {
  padding-right: 90px;
  padding-bottom: 90px;
  position: relative;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul li h4 {
font-size: 24px;
font-weight:700;
color:#111;
letter-spacing: -1.8px;
margin-bottom: 20px;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul li p {
font-size: 18px;
letter-spacing: -1.8px;
line-height: 1.5;
color: #666;
/*! margin-bottom: 20px; */
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul li a {
width:40px;
height: 40px;
border-radius: 50%;
transition: 0.5s;
background-position: center;
background-repeat: no-repeat;
background-size: auto;
background-image: url(../img/plus.svg);
font-size:0;
display: block;
  background-color:#00b1b0; 
  
position: absolute;
bottom: 29px;
}
div.suggestion_volunteers div.wrap div.sug_vol_1 ul li a:hover{
 background-color: #19388a;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 {
width: 35%;
display: flex;
flex-direction: column;
justify-content: center;
position: relative;

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani {
}

div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani .slick-prev{
  
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 52px;
  height: 52px;
  z-index: 1;
  left: 108%;
  top: 62%;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani .slick-next{
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  background-color: #fff;
  width: 52px;
  height: 52px;
  right: -18%;
  top: 52%;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani .slick-next:hover{
  border:1px solid #999;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani .slick-prev:hover{
  border:1px solid #999;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani .slick-prev::before{
  background-image: url(../img/left.svg);
  content:'';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.75;

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani .slick-next::before{
  background-image: url(../img/right.svg);
  content:'';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  opacity: 0.75;
 
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani ul.slick-dots{
left: 0;

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani ul.slick-dots li{
  width: 25% !important;
  height: 9px;
  left: -10%;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani ul.slick-dots li button{
  width: 100% !important;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani ul.slick-dots li button:hover::before{
 color: #00b1b0;
  opacity: 0.65;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani ul.slick-dots li button::before{
  content:'';
  width: 105%;
  border: 2px solid;
  height: initial;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani ul.slick-dots  li.slick-active button::before{
  color: #00b1b0;
  opacity: 1;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani > div.slick-list{

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani{

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani a {
  height: 500px;
  width: 500px;
  display: block;
  position: relative;
  overflow: visible;

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani a img {
  width: 100%;
  height: 100%;
  object-fit: cover;

}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani a::after {
  content: '';
  display: block;
  left: 11%;
  bottom: 1%;
  background-color: #00b1b0;
  z-index: -1;
  height: 35%;
  position: absolute;
  transform-origin: 100% 100%;
  width: 82%;
  transition: 0.2s;
  transform: rotate(-4deg);
  
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani a:hover::after{
  background-color: #19388a;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani a:hover::after{
}
div.suggestion_volunteers div.wrap div.sug_vol_2 div.sug_vol_2_ani div.suganiani figcaption{
font-size: 20px;
letter-spacing: -0.6px;
font-weight: 700;
margin-top: 34px;
height: 29px;
margin-bottom: 40px;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 a.more {
font-size: 22px;
letter-spacing: -1px;
font-weight: 600;
position: relative;
width: 36%;
display: block;
position: absolute;
right: 10%;
bottom: -3%;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 a.more:hover{
  color:#1a4191;
}
div.suggestion_volunteers div.wrap div.sug_vol_2 a.more:hover::after{
  transform: translateX(-20px);
  background-image: url(../img/arrowblueright.svg);
}
div.suggestion_volunteers div.wrap div.sug_vol_2 a.more::after{
  content:'';
  background-image: url(../img/arrowmintright.svg);
  width: 58px;
  height: 35px;
  display: inline-block;
  top: 17%;
  left: 73%;
  position: absolute;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  transition:0.5s;
}
/* 소식 */
div#index #news {
margin: 213px 0;
}
div#index #news div.wrap {
position: relative;
margin: ;
}
div#index #news div.wrap div.represent {

}
div#index #news div.wrap div.represent p.exist {

}
div#index #news div.wrap div.represent h2 {

}
div#index #news div.wrap div.bunchofnews {
padding-top: 60px;
  padding-bottom: 70px;
}
div#index #news div.wrap div.bunchofnews .newsani{
  position: static;
  width: 100%;
}
div#index #news div.wrap div.bunchofnews .newsani .newbutton{
  position: absolute;
  z-index: 1;
  
  width: 64px;
  height: 52px;
  right:calc(0%  + 26px);
  top:calc(0% + 118px);
  
}
div#index #news div.wrap div.bunchofnews .newsani .slick-list{
  width:100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}
div#index #news div.wrap div.bunchofnews .newsani .slick-list>div{



}
div#index #news div.wrap div.bunchofnews .newsani .newbutton button{
  display: flex;
  justify-content: center;
  align-items: center;
  
}
div#index #news div.wrap div.bunchofnews .newsani .newbutton .slick-arrow{
  width: 52px;
  height: 100%;
  border-radius: 50%;
  border: 1px solid #e5e5e5;
  
}
div#index #news div.wrap div.bunchofnews .newsani .newbutton .slick-arrow:hover{
   border: 1px solid #999;
}
div#index #news div.wrap div.bunchofnews .newsani .newbutton .slick-prev::before{
  background-image: url(../img/left.svg);
  content:'';
  display: inline-block;
  width: 13px;
  height: 13px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  
}
div#index #news div.wrap div.bunchofnews .newsani .newbutton .slick-next::before{
 background-image: url(../img/right.svg);
  content:'';
  display: inline-block;
  width: 13px;
  height: 13px;
   background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}
div#index #news div.wrap div.bunchofnews article {

  height: 340px;
border: 1px solid #e5e5e5;

  margin-left: 11px;
  width: 346px !important;
}

div#index #news div.wrap div.bunchofnews article a {
padding: 50px 40px;

height: 100%;
box-sizing: border-box;
  transition: 0.5s;

}
div#index #news div.wrap div.bunchofnews article a:hover{
  background-color:rgba(0,177,176,.05);
}

div#index #news div.wrap div.bunchofnews article a div.represent {
overflow: hidden;
height: 100%;
box-sizing: border-box;
/*! width: 100%; */
}
div#index #news div.wrap div.bunchofnews article a div.represent p.last {

}
div#index #news div.wrap div.bunchofnews article a div.represent p.last::before{
  content:'';
  width: 15px;
  height: 15px;
  display: inline-block;
  background-image: url(../img/clock.svg);
  vertical-align: top;
  margin-right:10px;
}
div#index #news div.wrap a.viewall {
border:1px solid #ccc;
  padding:15px 24px 16px;
  font-weight:700;
  color:#111;
  font-size:18px;
  line-height:1.3;
  transition:0.2s;
width: fit-content;
min-width: 200px;
  box-sizing: border-box;
position: absolute;
left: calc(50% - 100px);

}
div#index #news div.wrap a.viewall:hover{
   color:#00b1b0;
}
div#index #news div.wrap a.viewall:after{
   content:'';
  width:20px;
  height: 26px;
  display: inline-block;
  background-image: url(../img/arrowmore.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
  
   vertical-align: bottom;
   margin-left: 61px;
}
/* 하단 */
footer {
 border: 1px solid #e5e5e5;
}
footer div.wrap {
grid-template-columns: auto 1fr auto;
  grid-template-rows: auto auto auto auto;

row-gap: 6px;
}
footer div.wrap h1 {
font-size:0;
margin-bottom: 20px;
}
footer div.wrap h1 a {
  background-image: url(../img/logo.png);
  width: 250px;
  background-size: contain;
  background-repeat: no-repeat;
  height: 32px;
}
footer div.wrap ul.fnb {
grid-column: 1;
  grid-row: 2;
   display: flex;
gap: 12px;
left: ;
}
footer div.wrap ul.fnb li {
margin-bottom: 10px;
}
footer div.wrap ul.fnb li:nth-child(n+2):nth-child(-n+3)::before {
  content:'';
  width: 1px;
  height: 12px;
  background-color: #ccc;
  display: inline-block;
  margin-right: 10px;
  
}
footer div.wrap ul.fnb li a {
font-size: 16px;
font-weight: 500;
letter-spacing: -0.2px;
line-height: 1.5;
color:#111;

}
footer div.wrap address {
grid-column: 1;
  grid-row: 3;
  display: flex;
  font-size: 14px;
font-weight: 400;
letter-spacing: -0.5px;
line-height: 1.6;
color:#111;
font-family: "Poppins";
gap: 5px;
}
footer div.wrap address span{
  font-family: Noto Sans KR;
}
footer div.wrap ul.fnb2{
  grid-column: 1;
  grid-row: 4;
  display: flex;
  gap: 15px;
  font-size: 14px;
font-weight: 400;
letter-spacing: -0.4px;
line-height: 1.6;
color:#111;

}
footer div.wrap ul.fnb2 li{
  font-family: "Noto Sans KR";
}
footer div.wrap ul.fnb2 li:nth-child(n+2):nth-child(-n+3)::before {
  content:'';
  width: 1px;
  height: 12px;
  background-color: #ccc;
  display: inline-block;
  margin-right: 11px;
  
}
footer div.wrap ul.fnb2 li a{
  font-family: "Poppins";
}
footer div.wrap div.tra {
  grid-column: 3;
  grid-row: 1;
   justify-self: end; 
  position: relative;
  cursor: pointer;
}
footer div.wrap div.tra::after{
  content:'';
  display: inline-block;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 5px solid black;
  position: absolute;
  top: 40%;
  left: 90%;
} 
 
.tra2::after{
     transform: rotate(180deg);
}
footer div.wrap div.tra select{
/*   grid-column: 3;
  grid-row: 1; */
  font-size: 14px;
font-weight: 400;
letter-spacing: -0.5px;
line-height: 1.6;
color:#111;
  width: 160px;
  height: 44px;
  background-color: #FFF;
/*   justify-self: end; */
  border: 1px solid #000;
  border-top-width: 1px;
  border-right-width: 1px;
  border-bottom-width: 1px;
  border-left-width: 1px;
  border-width: 0 0 1px 0;
position: ;
}

footer div.wrap div.tra select option{
  color:#666;
  width: 160px;
  display: block;
}
footer div.wrap p{
 grid-column: 3;
  grid-row: 4; 
  font-size: 14px;
font-weight: 400;
letter-spacing: -0.6px;
line-height: 1.6;
color:#999;
font-family: "Poppins";
}