header div.wrap.gnb-menu{a:c;
    ul.contain{a:c;
        li{a:c;
            a{a:c;

            }
            ul.depth{a:c;
                li{a:c;
                    a{a:c;

                    }
                }
            }
        }
    }
}